body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centered-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

.centered-loader img {
    height: 200px;
    width: 200px;
}